In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#import folium
#from fuzzywuzzy import fuzz
import requests
import os
from bs4 import BeautifulSoup
import time
import sys
import regex as re
import requests
import lxml
from lxml.html.soupparser import fromstring
import numbers
import sqlite3

In [14]:
req_headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'en-US,en;q=0.8',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36'
}

In [15]:
# create url variables for each zillow page

with requests.Session() as s:
    city = 'boston/' #*****change this city to what you want!!!!*****
    
    urls = []
    urls.append('https://www.zillow.com/homes/for_sale/'+city)
    for i in range(2, 26):
        urls.append('https://www.zillow.com/homes/for_sale/'+city+str(i)+'_p/')

    rs = [s.get(url, headers=req_headers) for url in urls]

In [16]:
soups = [BeautifulSoup(r.content, 'html.parser') for r in rs]

In [17]:
df = pd.DataFrame()

In [18]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [19]:
df

Empty DataFrame
Columns: []
Index: []